@use "../../styles/functions" as funcs;
@use "../../styles/variables" as vars;
@use "../../styles/color" as clr;

:root {
    --btn-vprh-color: #{clr.get-accent-imp(var(--primary-color), high)};
    --btn-vprm-color: #{clr.get-accent-imp(var(--primary-color), medium)};
    --btn-tprh-color: #{clr.get-base-imp(var(--on-primary-color), high)};
}

.frame {

    @include funcs.block($w: 100%);
    @include funcs.bordered($tc: var(--btn-tprh-color), $bgc: var(--btn-vprh-color), $br: 0.125rem, $pr: .55rem, $pc: 1rem);
    @include clr.shadow(var(--primary-color), 1);
    transition: all 0.25s ease-in-out;
    @include funcs.font-styles($ff: vars.$font);
    @include funcs.pointer;

    &:hover {
        @include clr.shadow(var(--primary-color), 24);
        transform: scale(1.025);
    }

}

.icon {
    @include funcs.block(100%, 100%);
    @include funcs.mask;
    background-color: var(--btn-vprm-color);
    transition: all ease-in-out 0.33s;
    @include funcs.pointer;

    &:hover {
        @include clr.shadow(var(--primary-color), 24);
        transform: scale(1.2);
    }

}
