@use "../../styles/functions" as funcs;
@use "../../styles/color" as clr;

.group {
    @include funcs.grid($ji: start,$gr: 1rem, $gc: 1.25rem);
}

.item {
    position: relative;
}

.checkbox {
    position: absolute;
    @include funcs.block(1px, 1px);
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.style {
    position: absolute;
    @include funcs.block(1rem, 1rem);
    @include funcs.square($t: 50%, $l: 0);
    transform: translateY(-50%);
    @include funcs.bordered($bw: 0.05rem, $bc: clr.get-accent-imp(var(--primary-color), low), $br: 0.125rem);
    @include funcs.pointer;
}

.checkbox:checked + .style {
    border-color: clr.get-accent-imp(var(--primary-color), high);
}

.checkbox:checked + .style:before {
    content: '';
    position: absolute;
    @include funcs.block(0.75rem, 0.75rem);
    @include funcs.bordered($bgc: clr.get-accent-imp(var(--primary-color), high), $br: 0.075rem);
    @include funcs.square($t: 50%, $l: 50%);
    transform: translate(-50%, -50%);
}

.text {
    margin-left: 1.5rem;
    @include funcs.pointer;
}
